<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>00 头.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>517422132.03028899</real>
				<key>lastModification</key>
				<real>517422132.03028899</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>CLI-tool.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791239.863774</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>donatstudios.com_assets_54_CsvToMarkdownTable_example.html.1c1u1c33.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791239.840222</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>familyAffair.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>517422132.025805</real>
				<key>lastModification</key>
				<real>517422132.025805</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>fellow.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791239.75341898</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>git-tool.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791239.87812299</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>github.com_DebugUself_du4proto_issues_48.38212u34.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791239.87786102</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>github.com_DebugUself_du4proto_issues_95.3c1i3738.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791239.84126198</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>knowledgeTree.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791239.76300001</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>lovespace.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791239.70311397</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>sublimetext.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791239.81108898</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>table.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791239.80918902</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>todo - read.md</key>
			<dict>
				<key>lastModification</key>
				<real>517285192.74269199</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>wiki-github-tool.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791239.90596902</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>三十岁的女人是什么.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>517422132.02291298</real>
				<key>lastModification</key>
				<real>517422132.02291298</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>时间是无限循环的, 空间是交叉循环的.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791239.69348502</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>514786491.55795801</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>todo - read.md</string>
		</array>
		<array>
			<string>三十岁的女人是什么.md</string>
		</array>
		<array>
			<string>00 头.md</string>
		</array>
		<array>
			<string>familyAffair.md</string>
		</array>
		<array>
			<string>时间是无限循环的, 空间是交叉循环的.md</string>
		</array>
		<array>
			<string>lovespace.md</string>
		</array>
		<array>
			<string>fellow.md</string>
		</array>
		<array>
			<string>knowledgeTree.md</string>
		</array>
		<array>
			<string>table.md</string>
		</array>
		<array>
			<string>sublimetext.md</string>
		</array>
		<array>
			<string>donatstudios.com_assets_54_CsvToMarkdownTable_example.html.1c1u1c33.md</string>
		</array>
		<array>
			<string>github.com_DebugUself_du4proto_issues_95.3c1i3738.md</string>
		</array>
		<array>
			<string>github.com_DebugUself_du4proto_issues_48.38212u34.md</string>
		</array>
		<array>
			<string>CLI-tool.md</string>
		</array>
		<array>
			<string>git-tool.md</string>
		</array>
		<array>
			<string>wiki-github-tool.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
			<integer>39</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
