<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>706style.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.991027</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>34</integer>
				</dict>
			</dict>
			<key>RSS.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.63631701</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>ageofbook.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.32925802</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>beijing.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.92712802</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>blog.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.72113597</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>blogRebuilt.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.26191902</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>blogRebuilt2.md</key>
			<dict>
				<key>lastModification</key>
				<real>517063268.49576002</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>blogbetter.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.79771203</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>23</integer>
				</dict>
			</dict>
			<key>book.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.43587798</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>card.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791262.11965102</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>38</integer>
				</dict>
			</dict>
			<key>catch.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.91736901</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>chinawild.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.731987</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>creater.md</key>
			<dict>
				<key>lastModification</key>
				<real>517283150.013345</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>doll.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.83569098</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>familyHD.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.38671303</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>font-tool.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.39261001</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>11</integer>
				</dict>
			</dict>
			<key>githubUsername.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.28445601</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>handdoll.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.36724597</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>imphone.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.98688298</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>33</integer>
				</dict>
			</dict>
			<key>japan.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.88014197</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>learngit.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.71482402</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>20</integer>
				</dict>
			</dict>
			<key>leave.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.83705902</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>26</integer>
				</dict>
			</dict>
			<key>lihe.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.66833299</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>19</integer>
				</dict>
			</dict>
			<key>lover.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.469042</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>loveship.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.79983699</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>mac.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791262.02602899</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>35</integer>
				</dict>
			</dict>
			<key>nosie.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.98116899</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>32</integer>
				</dict>
			</dict>
			<key>note.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.366243</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>nowork.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.87285799</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>openmindTenMonth.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.629758</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>17</integer>
				</dict>
			</dict>
			<key>repositoryfile.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791262.10863501</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>st1.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.45544702</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>studyreport.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.54989201</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>16</integer>
				</dict>
			</dict>
			<key>studyreport2.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.28818297</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>studyway - 2.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791262.098674</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>36</integer>
				</dict>
			</dict>
			<key>studyway.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.26190901</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>theforthweek.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.48535502</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>15</integer>
				</dict>
			</dict>
			<key>wudaokou.md</key>
			<dict>
				<key>lastModification</key>
				<real>516791261.940422</real>
				<key>version</key>
				<dict>
					<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
					<integer>31</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>516813966.37957102</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>creater.md</string>
		</array>
		<array>
			<string>githubUsername.md</string>
		</array>
		<array>
			<string>studyreport2.md</string>
		</array>
		<array>
			<string>studyway.md</string>
		</array>
		<array>
			<string>ageofbook.md</string>
		</array>
		<array>
			<string>handdoll.md</string>
		</array>
		<array>
			<string>familyHD.md</string>
		</array>
		<array>
			<string>note.md</string>
		</array>
		<array>
			<string>font-tool.md</string>
		</array>
		<array>
			<string>st1.md</string>
		</array>
		<array>
			<string>book.md</string>
		</array>
		<array>
			<string>theforthweek.md</string>
		</array>
		<array>
			<string>lover.md</string>
		</array>
		<array>
			<string>studyreport.md</string>
		</array>
		<array>
			<string>openmindTenMonth.md</string>
		</array>
		<array>
			<string>RSS.md</string>
		</array>
		<array>
			<string>lihe.md</string>
		</array>
		<array>
			<string>learngit.md</string>
		</array>
		<array>
			<string>chinawild.md</string>
		</array>
		<array>
			<string>blog.md</string>
		</array>
		<array>
			<string>blogbetter.md</string>
		</array>
		<array>
			<string>loveship.md</string>
		</array>
		<array>
			<string>leave.md</string>
		</array>
		<array>
			<string>doll.md</string>
		</array>
		<array>
			<string>nowork.md</string>
		</array>
		<array>
			<string>japan.md</string>
		</array>
		<array>
			<string>catch.md</string>
		</array>
		<array>
			<string>beijing.md</string>
		</array>
		<array>
			<string>wudaokou.md</string>
		</array>
		<array>
			<string>706style.md</string>
		</array>
		<array>
			<string>imphone.md</string>
		</array>
		<array>
			<string>nosie.md</string>
		</array>
		<array>
			<string>mac.md</string>
		</array>
		<array>
			<string>card.md</string>
		</array>
		<array>
			<string>studyway - 2.md</string>
		</array>
		<array>
			<string>repositoryfile.md</string>
		</array>
		<array>
			<string>blogRebuilt.md</string>
		</array>
		<array>
			<string>blogRebuilt2.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
			<integer>46</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>a6cafa6b6dbe84907e0275253afa8235a2ecfbaed5c938e2b400188366a6ec95</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
